<p id="notice"><%= notice %></p>

<h1>Catalog of Products</h1>

<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-3">
      <% if product.is_catalog %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to product.title, product_nested_path(product.id) %>
          </div>
        </div>              
      <% else %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to product.title, product_path(product.id) %>
          </div>
          <div class="panel-footer">Цена: <%= product.price %></div>
        </div>               
      <% end %>
    </div>
  <% end %>
</div>

